{
  "Id": "Policy1434455241989",
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "Stmt1434455228871",
      "Action": [
        "s3:GetObject",
        "s3:ListBucket"
      ],
      "Effect": "Allow",
      "Resource": [
          "arn:aws:s3:::{{bucket_name}}/*",
          "arn:aws:s3:::{{bucket_name}}"
      ],
      "Principal": "*"
    }
  ]
}
